rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Erlaubt Lesen für alle
      allow read: if true;
      
      // Erlaubt Schreiben nur für Bilder unter 10MB
      allow write: if request.resource.size < 10 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}